<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home Root</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/abc">ABC Root</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/auth">Login Auth</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/auth/signup">SignUp Auth</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link">Dashboard Home</a>
        </li>
       
       


      </ul>

      <div class="text-center pt-2 d-flex" >
        <!-- <a style="color: #e3f2fd;margin-right: 25px; margin-top: 10px;" ></a> -->
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-2" type="button" >Log Out</button>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
